<h1>Add a Space</h1>

<div></div>

<form action="/addspace" method='post'>
  <!-- consistency of names required (space_name) -->
<input type="text" name="space_name" placeholder="Title" required>
<input type="text" name="space_image" placeholder="Image" required>
<input type="text" name="space_desc" placeholder="Description" required>
<input type="submit" name="Submit">
</form>