<header>
  <h1>MakersBnb</h1>
  <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cedarville+Cursive&family=Courier+Prime&family=Cutive+Mono&family=Gloria+Hallelujah&family=Nova+Mono&display=swap" rel="stylesheet">
</header>

<h1>Add a Space</h1>

<div></div>
<section>
<form action="/addspace" method='post'>

  <!-- consistency of names required (space_name) -->
<input type="text" maxlength="60" name="title" placeholder="Title" required><br />
<br>
<input type="text" name="image" placeholder="Image" required><br />
<br>
<input type="text" maxlength="350" name="description" placeholder="Description" required><br />
<br>
<input type="number" name="pricePerNight" placeholder="Price per night" required><br />
<br>
<input type="text" name="location" placeholder="Location" required><br />
<br>
<input type="submit" name="Submit">

</form>
</section>
