<head>
  <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
  <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cedarville+Cursive&family=Courier+Prime&family=Cutive+Mono&family=Gloria+Hallelujah&family=Nova+Mono&display=swap" rel="stylesheet"></head>

<h1> MakersBnB </h1>

<form align="right" action='/addspace' method=“get”>
  <button type=“submit”>Add a Space</button>
</form>

<div></div>

<container class='container'>
<img width='250' align='left' src="https://www.trbimg.com/img-56aa2dc1/turbine/ct-cth-van-gogh-bedroom-jpg-20160128/1300/1300x731">
<div>
<a display='inline' href="/space"> Space 1</a>
<h2 display='inline'>This is some text about Space 1</h2>
</div>
<br>
<h3 display='inline'> Price per night £2</h2>
</br>
</container>

<br></br>
<br></br>

<container class='container'>
  <img width='250' align='left' src="https://www.trbimg.com/img-56aa2dc1/turbine/ct-cth-van-gogh-bedroom-jpg-20160128/1300/1300x731">
  <div>
  <a display='inline' href="/space"> Space 2</a>
  <h2 display='inline' maxlength="100"> This is some text about Space 2</h2>
  </div>
  <br>
  <h3 display='inline'> Price per night £1</h2>
  </br>
  </container>

<ul>
{{#each spaces }}
  <p>{{ id }}</p>
{{/each}}
</ul>
