<head>
  <link rel=“stylesheet” href='/css/stylesheet.css'>
</head>

<h1> MakersBnB </h1>
 
<form align="right" action='/addspace' method=“get”>
  <button type=“submit”>Add a Space</button>
</form>

<div></div>

<h1>Spaces</h1>
<container class='container'>
  <% spaces.map((spaces) => { %>
  <a display='left' align='left' href="/space">
  <img alt=spaces.image src=<%= spaces.image %> width=270" height="150">
  <div>
  <a display='inline' align='left' href="/space"> <%= spaces.title %></a>
  <h2 display='inline' maxlength="100"> <%= spaces.description %></h2>
  <h3 display='inline'> £<%= spaces.pricePerNight %> Per Night</h3>
  </div>
  <br>
  <% }); %>
  </a>
  </container>