<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
		<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cedarville+Cursive&family=Courier+Prime&family=Cutive+Mono&family=Gloria+Hallelujah&family=Nova+Mono&display=swap" rel="stylesheet">

  </head>
	<body>
		<section>
			<img class="logo" src="/public/images/logo.png" alt="">
			<img class="background" src="/public/images/travel-illustration.jpg" alt="">
		<div class="login-form">
			<h1>MakersBNB Login</h1>
			<form action="/" method='post'>
				<input type="text" id="username" name="username" placeholder="Username" >
				<input type="password" id="password" name="password" placeholder="Password" >
				<input type="submit">
				<br>
				<br>
      </form>
		
									<form action='/signup' method=“get”>
										<button type="submit">Create an account</button>
									</form>

    </div>
</section>
  </body>

</html>
