<h1>Create an Account</h1>

<link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cedarville+Cursive&family=Courier+Prime&family=Cutive+Mono&family=Gloria+Hallelujah&family=Nova+Mono&display=swap" rel="stylesheet">
<div></div>


<form action="/signup" method='post'>
  <!-- consistency of names required -->
  <input type="text" name="username" placeholder="Username" required>
  <input type="text" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Password" required>
  <input type="submit" name="Submit">
</form>
