<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<h1>MakersBnB</h1>
<link href="/public/assets/styles.css" rel="stylesheet" type="text/css" />
<link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Cedarville+Cursive&family=Courier+Prime&family=Cutive+Mono&family=Gloria+Hallelujah&family=Nova+Mono&display=swap" rel="stylesheet">
<div></div>

<center><%= space[0].title %></center>
<img width='100%' src=<%=space[0].image%>>
<div>
  <center><%= space[0].description%></center>
  <center>Price Per Night: £<%=space[0].pricePerNight%></center>
</div>

<div>
  <h2>Request a date</h2>
</div>
<select name="date" id="date">
  <option value="01/07/20">01/07/20</option>
  <option value="02/07/20">02/07/20</option>
  <option value="03/07/20">03/07/20</option>
</select>
<form action='/homepage' method=“get”>
<button type=“submit”>Request</button>
</form>


<a href="https://www.google.co.uk/maps/dir//Makers,+50+Commercial+St,+Spitalfields,+London+E1+6LT/@51.51736,-0.0755167,533m/">Get Directions</a>
</html>